{# src/Easy/EvenementBundle/Resources/views/Evenement/showAdmin.html.twig #}
 
{% extends "EasySiteBundle::layout.html.twig" %}

{% block title %}{{ parent() }} {{ evenement.titre }}{% endblock %}
 
{% block body %}
<div>
    <h3>Informations</h3>
    <div>
        {{ evenement.description|raw }}
    </div>
    <h3>Participants</h3>
    <div>
        Liste des particpants
    </div>
</div>
{% endblock %}