{# src/Easy/SiteBundle/Resources/views/layout.html.twig #}
 
<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}=EaSy= Company{% endblock %}</title>
        <link href="{{ asset('bundles/easysite/css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
        <link href="{{ asset('bundles/easysite/css/main.css') }}" rel="stylesheet" media="screen">
    </head>
    <body>
        <div class="row">
            <div class="col-xs-12 col-md-12">
                Bannière
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12">
                {% include "EasySiteBundle::menu.html.twig" %}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-md-3">
                <div class="bloc">
                    <div class="page-header">
                        <h1>Menu</h1> 
                    </div>
                    <a href=""><span class="glyphicon glyphicon-user"></span> Gérer mon Profil</a><br />
                    <a href=""><span class="glyphicon glyphicon-euro"></span> Consulter les Dons</a><br />
                    <a href=""><span class="glyphicon glyphicon-calendar"></span> Consulter les Evènements</a><br />
                    <a href=""><span class="glyphicon glyphicon-send"></span> Ecrire un Ticket</a><br />
                    ----<br />
                    <a href=""><span class="glyphicon glyphicon-user"></span> Administration des News</a><br />
                    <a href=""><span class="glyphicon glyphicon-calendar"></span> Administration des Evènements</a><br />
                    <a href=""><span class="glyphicon glyphicon-th-list"></span> Administration du Forum</a><br />
                    <a href=""><span class="glyphicon glyphicon-euro"></span> Administration des Dons</a><br />
                    <a href=""><span class="glyphicon glyphicon-envelope"></span> Administration des Tickets</a><br />
                </div>
            </div>
            <div class="col-xs-12 col-md-9">
                <div class="bloc">
                    {% block body %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="{{ asset('bundles/easysite/js/jquery-2.0.0.min.js') }}"></script>
        <script src="{{ asset('bundles/easysite/js/bootstrap.min.js') }}"></script>
    </body>
</html>