{# src/Easy/SiteBundle/Resources/views/Pages/mentions.html.twig #}

{% extends "EasySiteBundle::layout.html.twig" %}

{% block title %}{{ parent() }}Forum{% endblock %}

{% block body %}
<table class="table">
    <thead>
        <tr>
            <th colspan="4">---</th>
        </tr>
    </thead>
    <tbody>
        {% for sujet in sujets %}
            <tr>
                <td style="width: 5%;">
                    <span class="icon-star-empty"></span>
                </td>
                <td style="width: 50%;">{{ sujet.titre }}</td>
                <td style="width: 20%;">par xxx</td>
                <td style="width: 10%;">nb messages</td>
                <td style="width: 20%;">date dernier</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}