{# src/Easy/DonBundle/Resources/views/Don/list.html.twig #}
 
{% extends "EasyEspaceMembreBundle::layout.html.twig" %}

{% block title %}Dons{% endblock %}
 
{% block body %}
    <div class="page-header">
        <h1>Tableau des dons</h1>
    </div>
    <div>
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th colspan="12">
                        {{'now'|date('Y')}}
                    </th>
                </tr>
                <tr>
                    <th></th>
                    {% for unMois in mois %}
                        <th>{{ unMois | truncate(1, false, '') }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for utilisateur in dons.donsAnneeParUtilisateurs %}
                    <tr>
                        {% for value in utilisateur %}
                            <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>Total</th>
                    {% for value in dons.totalDonsMois %}
                        <th>{{ value }}</th>
                    {% endfor %}
                </tr>
            </tfoot>
        </table>
    </div>

{% endblock %}