{# src/Easy/SiteBundle/Resources/views/Default/index.html.twig #}

{% extends "EasySiteBundle::layout.html.twig" %}

{% block title %}{{ parent() }}Accueil{% endblock %}
{% block icone %}<i class="fa fa-home"></i>{% endblock %}
{% block description %}La =EaSy= Company est un regroupement de joueurs partageant les mêmes passions. Actuellement, nous possédons une dizaine de joueurs et nous sommes présents sur de nombreux jeux tels que Battlefield 4, Minecraft, ArmA 3, Project Reality, Company of Heroes et bien d'autres encore... {% endblock %}

{% block body %}
    {% for article in articles %}
        <div class="page-header">
            <h2>{{ article.titre }} <small>{{ article.date|date('d/m/Y H:i') }}</small></h2>
        </div>
        <div>
            <div>{{ article.contenu|raw }}</div>
        </div>
    {% else %}
        <p>Aucun article n'a été trouvé</p>
    {% endfor %}
{% endblock %}