{# src/Easy/SiteBundle/Resources/views/ts.html.twig #}

<div>
    <p><span class="label label-warning">Bientôt</span> ArmA 3</p>
    <p>{% if (infos_mc1) %}<span class="label label-success">En Ligne</span>{% else %}<span class="label label-danger">Hors Ligne</span>{% endif %} Minecraft Survival</p>
    <p>{% if (infos_mc2) %}<span class="label label-success">En Ligne</span>{% else %}<span class="label label-danger">Hors Ligne</span>{% endif %} Minecraft Flat</p>
    <p><span class="label label-danger">Hors Ligne</span> Project Reality</p>
</div>