{# src/Easy/SiteBundle/Resources/views/partenaires.html.twig #}

<div><a href="http://steamcommunity.com/groups/easy-company-fr" target=_blank" title="Notre groupe Steam"><img src="/bundles/easysite/images/lien_steam.png"></a></div>
<div><a href="https://robertsspaceindustries.com/orgs/EASYCOMP" target=_blank" title="Notre organisation sur Star Citizen"><img src="/bundles/easysite/images/lien_starcitizen.png"></a></div>