{# src/Easy/SiteBundle/Resources/views/menu.html.twig #}

<nav class="navbar navbar-default navbar-inverse" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">=EaSy=</a>
    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{{ path('easy_site_homepage') }}">Accueil</a></li>
        <li><a href="#">Forum</a></li>
        <li><a href="#">Membres</a></li>
        <li><a href="#">Nos Serveurs</a></li>
        <li><a href="#">Recrutement</a></li>
        <li><a href="{{ path('easy_site_page_dons') }}">Dons</a></li>
        <li><a href="#">Nous Contacter</a></li>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <li><a href="{{ path('espace_membre_accueil') }}">Espace Membre</a></li>
        {% endif %}
      </ul>
    </div>
</nav>