{# src/Easy/SiteBundle/Resources/views/tchat.html.twig #}

<iframe src="http://www.i-tchat.com/shoutbox/shoutbox.php?idShoutbox=81888" width="100%" height="350" frameborder="0" allowtransparency="true" >
    Votre navigateur semble incompatible, essayez d'ouvrir le <a href="http://www.i-tchat.com" title="chat de discussion" onClick="window.open(this.href+'?81888');">tchat</a>, ou rencontrez le webmaster pour plus d'informations.
</iframe>