{# src/Easy/SiteBundle/Resources/views/Pages/dons.html.twig #}

{% extends "EasySiteBundle::layout.html.twig" %}

{% block title %}{{ parent() }}Développement en cours...{% endblock %}
{% block icone %}<i class="fa fa-cog fa-spin"></i>{% endblock %}

{% block body %}
    <div class="text-center">
        <img src="{{ asset('bundles/easysite/images/wip.png') }}" alt="Work in progress">
        <br /><br />
        <p>
            Cette partie du site est en construction et sera bientôt disponible.
        </p>
    </div>
    
{% endblock %}