{# src/Easy/SiteBundle/Resources/views/Pages/mentions.html.twig #}

{% extends "EasySiteBundle::layout.html.twig" %}

{% block title %}{{ parent() }}Mentions légales{% endblock %}
{% block description %}Les mentions légales de la =EaSy= Company{% endblock %}

{% block body %}
    <h4>Créateurs du Site</h4>
    <a href="http://www.guitouzid.fr/" target="_blank">Guillaume "Guitouzid" L.</a> - Développeur Web<br />
    <a href="http://www.epoc.fr/" target="_blank">Maxime "Epoc" G.</a> - Développeur Web
    <h4>Crédits photos / images</h4>
    <p>

    </p>

    <h4>Hébergement</h4>
    <p>
        OVH
    </p>

    <h4>Propriété intellectuelle</h4>
    <p>
        Les textes et les éléments photographiques constituent des œuvres et sont protégées en tant que telles par l'ensemble des dispositions relatives à la
        propriété intellectuelle. La reproduction des textes et photographies de ce site est autorisée pour toute utilisation à caractère personnel à condition
        d'en mentionner la source (=EaSy= Company).<br />
        Pour toutes demandes veuillez contacter : <a href="mailto:contact@easy-company.fr" >contact@easy-company.fr</a>
    </p>
{% endblock %}