{# src/Easy/SiteBundle/Resources/views/Pages/dons.html.twig #}

{% extends "EasySiteBundle::layout.html.twig" %}

{% block title %}{{ parent() }}Nos Serveurs{% endblock %}

{% block body %}
    <div>
        TEST
    </div>
    
{% endblock %}