{# src/Easy/SiteBundle/Resources/views/Default/index.html.twig #}

{% extends "EasyEspaceMembreBundle::layout.html.twig" %}

{% block title %}{{ parent() }}Hello{% endblock %}

{% block body %}
    <p>Bienvenue {{app.user.username}}</p>
    
    <div>
        {{ app.request.attributes.get('_controller') }}
    </div>
{% endblock %}