{# src/Easy/SiteBundle/Resources/views/Default/index.html.twig #}

{% extends "EasyEspaceMembreBundle::layout.html.twig" %}

{% block title %}{{ parent() }}Bienvenue{% endblock %}

{% block body %}
    <div>
        <p>
            Contenu
        </p>
    </div>
{% endblock %}