<div class="panel-body panel-list-group list-group-chat">
  <div class="list-group messages">
    {{ render(controller('ChatBundle:Messages:getMessages')) }}
  </div>

  {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
    <form class="form-chat">
      <input type="text" name="chat-message" class="form-control send-message" autocomplete="off" required="true" placeholder="Tapez ici">
    </form>
  {% else %}
    <div class="text-muted text-center no-connected">Vous devez être <a href="{{ path('fos_user_security_login') }}">connecté</a> pour envoyer des messages.</div>
  {% endif %}
</div>

{% include "ChatBundle::javascript.html.twig" %}