<div class="list-group messages">
  <div class="list-group-item">
    <div class="message">
      <span class="username admin">Guitouzid:</span> j'aime windev
    </div>
    <div class="text-muted">
      <div class="pull-left">
        <a href="#" data-toggle="tooltip" title="Editer"><i class="fa fa-pencil"></i></a> <a href="#" data-toggle="tooltip" title="Supprimer"><i class="fa fa-remove"></i></a>
      </div>
      <div class="pull-right timestamp">
        Il y a 2 heures
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="list-group-item">
    <div class="message">
      <span class="username">Epoc:</span> aahahhahahh
    </div>
    <div class="text-muted">
      <div class="pull-left">
        <a href="#" data-toggle="tooltip" title="Editer"><i class="fa fa-pencil"></i></a> <a href="#" data-toggle="tooltip" title="Supprimer"><i class="fa fa-remove"></i></a>
      </div>
      <div class="pull-right timestamp">
        Il y a 2 heures, modifié
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="list-group-item list-group-item-danger">
    <div class="message">
      <span class="username">Generalgui:</span> Ceci est un long message supprimé oh mon dieu
    </div>
    <div class="text-muted">
      <div class="pull-left">
        <a href="#" data-toggle="tooltip" title="Editer"><i class="fa fa-pencil"></i></a> <a href="#" data-toggle="tooltip" title="Annuler la suppression"><i class="fa fa-undo"></i></a>
      </div>
      <div class="pull-right timestamp">
        Il y a 2 heures
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>